
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Partial.cshtml";
}

<h2>Contact</h2>

<div class="wrap">
    <a href="#" class="button">Hover Me!</a>
    <a href="#" class="button2">Awesome Button</a>
</div>