
@{
    Layout = "~/Views/Shared/_Partial.cshtml";
    ViewBag.Title = "Loading";
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Message</h2>
        <div id="loading">
            <ul class="bokeh">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>