
@{
    Layout = "~/Views/Shared/_Partial.cshtml";
    ViewBag.Title = "Loading";
}

<div class="container">

    <div style="align-content:center;text-align:center">
        <h2 class="danger">@ViewBag.Message</h2>
    </div>

    <div class="row">
        <div id="loading">
            <ul class="bokeh">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>